@model IEnumerable<PRODUCTS1>

@foreach (var item in Model)
{

    <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="card" data-id="@item.CATEGORY1.DataId">
            <div class="image">
                <img src="~/Products-Images/@item.ImageUrl" alt="">
            </div>
            <div class="title text-center">
                <p>@item.Name</p>
                <div class="add-cart">
                    <a asp-controller="Basket" asp-action="AddBasket" asp-route-id="@item.Id" class="addBasket">Add to cart</a>
                </div>
                <div class="price">
                    <a asp-controller="basket" asp-action="addbasket" asp-route-id="@item.Id">
                        <span>$</span>
                        <span class="totalPrice">@item.Price</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
}
