@model PRODUCTS1

<div class="container">
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Default form</h4>
                    <p class="card-description"> Create Product Form </p>
                    <form class="forms-sample" method="post" enctype="multipart/form-data">
                      
                        <div>
                            <label>Choose a category:</label>
                            @Html.DropDownListFor(c => c.CATEGORY1Id, (List<SelectListItem>)ViewBag.category, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Name"></label>
                            <input asp-for="@Model.Name" class="form-control" placeholder="Name">
                            <span class="text-danger" asp-validation-for="@Model.Name"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Price"></label>
                            <input asp-for="@Model.Price" class="form-control" placeholder="Price">
                            <span class="text-danger" asp-validation-for="@Model.Price"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.ImageProduct"></label>
                            <input asp-for="@Model.ImageProduct" class="form-control" accept="image/*" placeholder="Image">
                            <span class="text-danger" asp-validation-for="@Model.ImageProduct"></span>
                        </div>
                        <button class="btn btn-light">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="~/JS/script.js"></script>
@section Scripts{
    <partial name="_Validation"></partial>
}

